*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  background-color: #ADD8E6;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  background-color: black;
}
/*header*/
.intestazione{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 40px;
  padding: 0 15px;
  border: 1px dashed black ;
  background-color: #DAA520;

}

.menu ul{
  display: flex;
  list-style: none;
}

.menu ul li{
  margin-right: 15px;
}
.menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
.container-jumbo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #00008B;
}
.jumbotron{
  width: 600px;
  height: 75%;
  background-color: #EE82EE;
}

/*Main*/
.container.bianco{
  background-color: white;
}
.container.grigio{
  background-color: lightgrey;
}
.paragrafo{
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 75%;
}
.immagine{
  width: 70%;
  height: 100%;
  background-color: #1E90FF;
}
.text{
  width: 30%;
  height: 100%;
  background-color: #FFC0CB;
}
.last-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: lightgrey;
}
.content{
  display: flex;
  width: 800px;
  height: 75%;
  background-color: green;
}
/*footer*/
.azioni{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 70%;
  padding: 5px 0 15px 0;
}
.social{
  flex-grow: 1;
  height: 100%;
  background-color: #F08080;
}
.colonne{
  display: flex;
  justify-content: space-around;  
  flex-grow: 2;
  height: 100%;
  background-color: #20B2AA;
}
.container-registrazione{
  height: 30%;
  padding-top: 10px;
  border-top: 1px solid white;
}
.registrazione{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: #7FFFD4;
}