/*GENERALI*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  flex-wrap: wrap;
  background-color: #ADD8E6;
}
header, footer, .container, .menu, .jumbo, .last-container, .azioni{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  flex-wrap: wrap;
  height: 460px;
  background-color: black;
}
/*HEADERr*/
.intestazione{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 40px;
  margin: 10px 0;
  padding: 0 15px;
  border: 1.5px dashed black;
  background-color: #DAA520;
}
.intestazione .logo{
  display: flex;
  align-items: center;
  width: 25%;
}
/*menu lista*/
.menu{
  width: 50%;
  height: 100%;
  border-right: 1.5px dashed black;
  border-left: 1.5px dashed black;
}
.menu ul{
  display: flex;
  list-style: none;
}
.menu ul li{
  margin-right: 15px;
}
.menu ul li a{
  text-decoration: none;
  color: black;
}
/*bottone login*/
.button-login{
  width: 25%;
  text-align: right;
}
/*jumbotron*/
.jumbo{
  width: 100%;
  height: 400px;
  margin-bottom: 2px;
  background-color: #00008B;
}
.jumbotron{
  width: 600px;
  height: 350px;
  border: 1.5px dashed black ;
  background-color: #EE82EE;
}
/*MAIN*/
.container{
  height: 450px;
}
.container.bianco{
  background-color: white;
}
.container.grigio{
  background-color: lightgrey;
}
.paragrafo{
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 400px;
}
.immagine{
  width: 60%;
  height: 100%;
  border: 1.5px dashed black ;
  background-color: #1E90FF;
}
.text{
  width: 40%;
  height: 100%;
  border: 1.5px dashed black ;
  background-color: #FFC0CB;
}

.last-container{
  height: 650px;
  background-color: lightgrey;
}
.content{
  display: flex;
  width: 800px;
  height: 600px;
  border: 1.5px dashed black ;
  background-color: green;
}
/*FOOTER*/
/*parte alta*/
.azioni{
  width: 800px;
  height: 400px;
  padding: 5px 0 15px 0;
}
.social{
  flex-grow: 1;
  height: 100%;
  border: 1.5px dashed black ;
  background-color: #F08080;
}
.colonne{
  display: flex;
  flex-grow: 2;
  height: 100%;
  background-color: #20B2AA;
}
.colonne ul{
  flex-grow: 1;
  border: 1.5px dashed white ;
}
/*parte bassa*/
.container-registrazione{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  border-top: 1px solid white;
}
.registrazione{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: #7FFFD4;
}
footer .container-registrazione .logo{
  border: 1.5px dashed black;
}
footer .container-registrazione button{
  border: 1.5px dashed black;
}
